<!DOCTYPE html>
<html lang="es">
<head>

<meta charset="UTF-8">
<title>Calendario Barbería</title>

<link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.css" rel="stylesheet">

<style>

body{
font-family:Arial;
background:#f4f6f9;
}

.container{
width:95%;
margin:auto;
margin-top:40px;
}

#calendar{
background:white;
padding:20px;
border-radius:10px;
}

</style>

</head>

<body>

<div class="container">

<h2>Agenda de Citas</h2>

<div id="calendar"></div>

</div>

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>

<script>

function getCookie(name) {

let cookieValue = null;

if (document.cookie && document.cookie !== "") {

const cookies = document.cookie.split(";");

for (let i = 0; i < cookies.length; i++) {

const cookie = cookies[i].trim();

if (cookie.substring(0, name.length + 1) === (name + "=")) {

cookieValue = decodeURIComponent(cookie.substring(name.length + 1));

break;

}

}

}

return cookieValue;

}

const csrftoken = getCookie("csrftoken");


document.addEventListener("DOMContentLoaded", function() {

var calendarEl = document.getElementById("calendar");

var calendar = new FullCalendar.Calendar(calendarEl, {

initialView:"timeGridWeek",

locale:"es",

editable:true,

height:"auto",

slotDuration:"00:30:00",
slotMinTime:"09:00:00",
slotMaxTime:"18:00:00",

headerToolbar:{
left:"prev,next today",
center:"title",
right:"dayGridMonth,timeGridWeek,timeGridDay"
},

events:"/citas-json/",

eventClick:function(info){

alert(
"Cita\n\n"+
info.event.title+
"\nBarbero: "+info.event.extendedProps.barbero+
"\nEstado: "+info.event.extendedProps.estado
)

},

eventDidMount:function(info){

if(info.event.extendedProps.estado == "pendiente"){
info.el.style.backgroundColor = "#ffc107"
}

if(info.event.extendedProps.estado == "atendida"){
info.el.style.backgroundColor = "#28a745"
}

if(info.event.extendedProps.estado == "cancelada"){
info.el.style.backgroundColor = "#dc3545"
}

},

eventDrop:function(info){

let fecha = info.event.start.toISOString().slice(0,10)

let hora = info.event.start.toTimeString().slice(0,5)

fetch("/mover-cita/",{

method:"POST",

headers:{
"Content-Type":"application/json",
"X-CSRFToken": csrftoken
},

body:JSON.stringify({

id:info.event.id,
fecha:fecha,
hora:hora

})

})

}

});

calendar.render();

});

</script>

</body>
</html>