<!DOCTYPE html>
<html lang="es">
<head>

<meta charset="UTF-8">

<title>Calendario Barbería</title>

<link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.css" rel="stylesheet">

<style>

body{
font-family:Arial;
background:#f4f6f9;
}

.container{
width:95%;
margin:auto;
margin-top:40px;
}

#calendar{
background:white;
padding:20px;
border-radius:10px;
}

</style>

</head>

<body>

<div class="container">

<h2>Agenda de Citas</h2>

<div id="calendar"></div>

</div>

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>

<script>

document.addEventListener('DOMContentLoaded', function() {

var calendarEl = document.getElementById('calendar');

var calendar = new FullCalendar.Calendar(calendarEl, {

initialView: 'timeGridWeek',

locale:'es',

editable:true,

headerToolbar:{
left:'prev,next today',
center:'title',
right:'dayGridMonth,timeGridWeek,timeGridDay'
},

events:'/citas-json/',


eventClick:function(info){

alert(
"Cita\n\n"+
info.event.title+
"\nBarbero: "+info.event.extendedProps.barbero+
"\nEstado: "+info.event.extendedProps.estado
)

},


eventDrop:function(info){

let fecha = info.event.start.toISOString().slice(0,10)

let hora = info.event.start.toTimeString().slice(0,5)

fetch("/mover-cita/",{

method:"POST",

headers:{
"Content-Type":"application/json"
},

body:JSON.stringify({

id:info.event.id,

fecha:fecha,

hora:hora

})

})

}


});

calendar.render();

});

</script>

</body>
</html>