<form method="post">

{% csrf_token %}

<div class="mb-3">
<label>Nombre</label>
<input type="text" name="nombre" class="form-control" required>
</div>

<div class="mb-3">
<label>Teléfono</label>
<input type="text" name="telefono" class="form-control" required>
</div>

<div class="mb-3">
<label>Servicio</label>
<select name="servicio" class="form-control">
{% for servicio in servicios %}
<option value="{{ servicio.id }}">{{ servicio.nombre }}</option>
{% endfor %}
</select>
</div>

<div class="mb-3">
<label>Barbero</label>
<select name="barbero" class="form-control">
{% for barbero in barberos %}
<option value="{{ barbero.id }}">{{ barbero.nombre }}</option>
{% endfor %}
</select>
</div>

<div class="mb-3">
<label>Fecha</label>
<input type="date" name="fecha" class="form-control">
</div>

<div class="mb-3">
<label>Hora</label>
<input type="time" name="hora" class="form-control">
</div>

<button type="submit" class="btn btn-primary">
Reservar
</button>

</form>